<p>Hallo $context.ausschreiberName,<br /> 
$context.bewerberName hat die geänderten Bedingungen für seine Bewerbung für &quot;$context.ausschreibungName&quot; akzeptiert.<br />
<small>Dies ist eine automatisch generierte Systemnachricht.</small></p>