<p>Hallo,<br /> 
der Administrator hat dein Benutzerkonto auf delos, der HK-Börse der Universität Ulm, angelegt.<br />
Du kannst dich mit dieser Email-Adresse und diesem automatisch generierten Passwort anmelden: $context.passwort<br />
