<p>Hello,<br /> 
the administrator created an account for you on delos - the student assistant platform of the University Ulm.<br />
You can login using the e-mail address this message has been sent to and the following randomly generated password: $context.passwort<br />
